.commands_and_buttons {
	display: grid;
	grid-template-columns: 15% 70% 15%;
	background-color: black;
}

.buttons_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.single_button {
	width: 65%;
	border: 1px solid var(--green);
	color: var(--green);
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.command_suggestions_wrapper {
	border: 1px solid var(--green);
	margin: 1%;
	color: var(--green);
	padding: 10px 20px;
	display: grid;
	grid-template-rows: 25% 75%;
}

.command_suggestions_instruction {
	display: none;
	align-items: center;
}

.options_wrapper {
	display: flex;
	justify-content: space-evenly;
}

.single_option {
	display: flex;
	align-items: center;
	margin: 5px 20px;
	font-size: 15px;
}

.option_checkbox {
	display: none;
	border: 1px solid var(--green);
	border-radius: 50%;
	width: 15px;
	height: 15px;
	margin-right: 10px;
}

.quit_button {
	color: var(--dark_green);
	border: 3px solid var(--dark_green);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
}

.quit_button:hover {
	cursor: pointer;
	color: var(--green);
	border: 3px solid var(--green);
}
